.reset-password-container,
.forgetPassword {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.forgetPassword {
    margin: 100px auto;
    margin-bottom: 10px;
    padding-bottom: 200px;
}

.reset-password-container h2 {
    text-align: center;
}

.reset-password-container .error {
    color: red;
    text-align: center;
}

.reset-password-container .success {
    color: green;
    text-align: center;
}

.reset-password-container form {
    display: flex;
    flex-direction: column;
}

.reset-password-container label {
    margin-bottom: 10px;
}

.reset-password-container input {
    padding: 10px;
    margin-top: 5px;
    width: 350px;
}

.reset-password-container button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reset-password-container button:hover {
    background-color: #0056b3;
}

#retemail {
    width: 400px;
    height: 50px;
}

#retemailbtn {
    border: none;
    background-color: blue;
    color: white;
    padding: 10px 20px;
}

.forgetPassword p {
    color: blue;
}

@media screen and (max-width: 980px) {
    .reset-password-container input {
        padding: 10px;
        margin-top: 5px;
        width: 300px;
    }
    .reset-password-container button {
        width: 300px;
    }
    #retemail {
        width: 300px;
    }
}